<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="<%= asset_path('Grantifi_logo.png') %>">
      </a>
    </div>
  </div>
</nav>